/TimerGameBaselineAsm.X/nbproject/private/
/TimerGameBaselineAsm.X/build/default/
/CounterBaselineAsm.X/nbproject/private/
/CounterBaselineAsm.X/build/default/
/CounterBaselineAsm.X/dist/default/
/SevenSegBaselineAsm.X/nbproject/private/
/SevenSegBaselineAsm.X/build/default/
/LedOnMidlineAsm.X/nbproject/private/
/LedOnMidrangeAsm.X/nbproject/private/
/LedOnMidrangeAsm.X/build/default/
/LedOnMidrangeAsm.X/dist/default/
/SevenSegMplexBaselineAsm.X/nbproject/private/
/SevenSegMplexBaselineAsm.X/build/default/
/ComparatorBaselineAsm.X/nbproject/private/
/ComparatorBaselineAsm.X/build/default/
/ComparatorBaselineAsm.X/dist/default/
/VoltageReffBaselineAsm.X/nbproject/private/
/VoltageReffBaselineAsm.X/build/default/
/BinaryOutputBaselineAsm.X/nbproject/private/
/BinaryOutputBaselineAsm.X/build/default/
/BinaryOutputBaselineAsm.X/dist/default/
/HexDisplayBaselineAsm.X/nbproject/private/
/HexDisplayBaselineAsm.X/build/default/
/HexDisplayBaselineAsm.X/dist/default/
/16F54Tests.X/nbproject/private/
/16F54Tests.X/build/default/
/16F54Tests.X/dist/default/
/HexDisplayDecBaselineAsm/nbproject/private/
/HexDisplayDecBaselineAsm/build/default/
/HexDisplayDecBaselineAsm/dist/default/
/LedOnBaselineC.X/nbproject/private/
/LedOnBaselineC.X/build/default/
/LedOnBaselineC.X/dist/default/
/LedBlinkBaselineC.X/nbproject/private/
/baselineC/LedBlinkBaselineC.X/build/default/
/baselineC/LedBlinkBaselineC.X/dist/default/
/ButtonBaselineC.X/nbproject/private/