/TimerGameBaselineAsm.X/nbproject/private/
/TimerGameBaselineAsm.X/build/default/
/CounterBaselineAsm.X/nbproject/private/
/CounterBaselineAsm.X/build/default/
/CounterBaselineAsm.X/dist/default/
/SevenSegBaselineAsm.X/nbproject/private/
/SevenSegBaselineAsm.X/build/default/